<!DOCTYPE html>
{% load humanize %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Perfil veiculo" />
    <title>Perfil do Veículo</title>
    <link rel="stylesheet"  href="/static/css/bootstrap.css" type="text/css" media="screen"/>
    <link rel="stylesheet"  href="/static/css/style.css" type="text/css" media="screen"/>
</head>
<body class="perfil-do-veículo">
    <div class="margin_collapsetop"></div>
    <div id="ttr_menu">
        <div class="margin_collapsetop"></div>
        <nav class="navbar-default navbar-expand-md navbar">
            <div id="ttr_menu_inner_in">
                <div id="navigationmenu">
                    <div class="navbar-header">
                        <button id="nav-expander" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="ttr_menu_toggle_button">
                                <span class="sr-only"></span>
                                <span class="icon-bar navbar-toggler-icon"></span>
                                <span class="icon-bar navbar-toggler-icon"></span>
                                <span class="icon-bar navbar-toggler-icon"></span>
                            </span>
                            <span class="ttr_menu_button_text">Menu</span>
                        </button>
                    </div>
                    <div class="ttr_menu_element_alignment container"></div>
                    <div class="ttr_images_container">
                        <div class="ttr_menu_logo">
                            <a href="" target="_self">
                                <img src="/static/images/menulogo.png" alt="menuimage" class="" />
                            </a>
                        </div>
                    </div>
                    <div class="menu-center collapse navbar-collapse">
                        <ul class="ttr_menu_items nav navbar-nav navbar-right">
                            <li class="ttr_menu_items_parent dropdown">
                                <a href="{%url 'inicio' %}" class="ttr_menu_items_parent_link">
                                    <span class="menuchildicon"></span>Início
                                </a>
                                <hr class ="horiz_separator"/>
                            </li> <!-- main menu list closing -->
                            <li class="ttr_menu_items_parent dropdown">
                                <a href="{%url 'veiculos' categoria='todos' %}" class="ttr_menu_items_parent_link">
                                    <span class="menuchildicon">
                                    </span>Veículos
                                </a>
                                <hr class ="horiz_separator"/>
                            </li> <!-- main menu list closing -->
                            <li class="ttr_menu_items_parent dropdown">
                                <a href="{{ '../admin' }}" class="ttr_menu_items_parent_link">
                                    <span class="menuchildicon">
                                    </span>Area Restrita
                                </a>
                            </li> <!-- main menu list closing -->
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
<div class="margin_collapsetop"></div>
    <div id="ttr_page" class="container">
        <div id="ttr_content_and_sidebar_container">
            <div id="ttr_content">
                <div id="ttr_html_content_margin" class="container-fluid">
                    <h1 class="ttr_page_title">Perfil do Veículo</h1>
                    <a href="{%url 'veiculos' categoria='todos' %}">
                        <span style="font-family:'Roboto Slab','Arial';font-weight:700;color:rgba(19,5,29,1);">
                            Voltar
                        </span>
                    </a>
                    <div class="margin_collapsetop"></div>
                    <div class="ttr_perfil-do-veículo_html_row0 row" >
                        <div class="post_column col-xl-12 col-lg-12 col-md-6 col-sm-12 col-xs-12 col-12">
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <img src="{{veiculo.foto_capa.url}}" style="width:100%;">
                                    <div class="caption"></div>
                                </div>
                            </div>
                            <div class="col-md-6" style="font-family:'Roboto Slab','Arial';font-weight:700;color:rgba(19,5,29,1);margin: 15px;font-size: 20px;">
                                <br class="list-group-item">Marca: {{veiculo.marca}}
                                <br class="list-group-item">Modelo: {{veiculo.modelo}}
                                <br class="list-group-item">Cor: {{veiculo.cor}}
                                <br class="list-group-item">Placa: {{veiculo.placa}}
                                <br class="list-group-item">Ano: {{veiculo.ano}}
                                <br class="list-group-item">Preço: R${{veiculo.preco|intcomma}}
                                <br class="list-group-item">Preço Diario: R${{veiculo.aluguel_diario|intcomma}}
                                <br class="list-group-item">Locadora: {{veiculo.locadora.nome}}
                                <br class="list-group-item">Tel. da Locadora: {{veiculo.locadora.telefone}}
                            </div>

                        <div class="margin_collapsetop"></div>
                        </div>
                        <div class=" visible-lg-block d-xl-block d-lg-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear: both;width:0px;"></div>
                    </div>
                    <div class="margin_collapsetop"></div>
                </div><!--content_margin-->
            </div><!--content-->
            <div style="clear:both"></div>
        </div><!--container-->
        <div class="margin_collapsetop"></div>
        <footer id="ttr_footer">
            <div class="margin_collapsetop"></div>
            <div id="ttr_footer_inner">
                <div class="ttr_footer-widget-cell_inner_widget_container">
                    <div class="ttr_footer-widget-cell_inner0 container row">
                        <div class="post_column col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12">
                            <div class="footercellcolumn1">
                                <div class="margin_collapsetop"></div>
                                <div class="html_content">
                                    <h3 style="text-indent:0px;margin:10px 0px 10px 0px;line-height: normal;">
                                        <span style="font-family:'Roboto Slab','Arial';font-weight:700;color:rgba(65,30,90,1);">Pages</span>
                                    </h3><h5 style="text-indent:0px;margin:0px 0px 0px 0px;line-height: normal;"><span style="font-family:'Roboto Slab','Arial';font-weight:700;color:rgba(19,5,29,1);">Início</span></h5>
                                    <h5 style="text-indent:0px;margin:0px 0px 0px 0px;line-height: normal;">
                                        <span style="font-family:'Roboto Slab','Arial';font-weight:700;color:rgba(19,5,29,1);">Veiculos</span>
                                    </h5>
                                    <h5 style="text-indent:0px;margin:0px 0px 0px 0px;line-height: normal;">
                                        <span style="font-family:'Roboto Slab','Arial';font-weight:700;color:rgba(19,5,29,1);">Área Restrita</span>
                                    </h5>
                                </div>
                                <div class="margin_collapsetop"></div>
                            </div>
                        </div>
                        <div class=" visible-sm-block d-sm-block visible-xs-block d-block" style="clear: both;"></div>
                        <div class="post_column col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12">
                            <div class="footercellcolumn2">
                                <div class="margin_collapsetop"></div>
                                <div class="html_content">
                                    <p style="text-indent:0px;margin:0px 0px 10px 0px;line-height: normal;font-size:1.714em;color:rgba(92,184,92,1);">
                                        <span style="font-family:'Roboto Slab','Arial';font-weight:700;color:rgba(65,30,90,1);">Endereço</span>
                                    </p>
                                    <p style="text-indent:0px;margin:0px 0px 0px 0px;line-height: normal;color:rgba(240,173,78,1);">
                                        <span style="font-family:'Roboto Slab','Arial';font-weight:700;color:rgba(19,5,29,1);">Rua Um, nº 2, Bairro Três</span>
                                    </p>
                                    <p style="text-indent:0px;margin:0px 0px 0px 0px;line-height: normal;color:rgba(240,173,78,1);">
                                        <span style="font-family:'Roboto Slab','Arial';font-weight:700;color:rgba(19,5,29,1);">Montes Claros</span>
                                    </p>
                                    <p style="text-indent:0px;margin:0px 0px 0px 0px;line-height: normal;color:rgba(240,173,78,1);">
                                        <span style="font-family:'Roboto Slab','Arial';font-weight:700;color:rgba(19,5,29,1);">39400-000, Minas Gerais</span>
                                    </p>
                                    <p style="text-indent:0px;margin:0px 0px 0px 0px;line-height: normal;color:rgba(240,173,78,1);">
                                        <span style="font-family:'Roboto Slab','Arial';font-weight:700;color:rgba(19,5,29,1);">Brasil</span>
                                    </p>
                                </div>
                                <div class="margin_collapsetop"></div>
                            </div>
                        </div>
                        <div class=" visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear: both;"></div>
                        <div class="post_column col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12">
                            <div class="footercellcolumn3">
                                <div class="margin_collapsetop"></div>
                                <div class="html_content">
                                    <h3 style="text-indent:0px;margin:12px 0px 10px 0px;line-height:0.04em;">
                                        <span style="font-family:'Roboto Slab','Arial';font-weight:700;font-size:1em;color:rgba(65,30,90,1);">Redes Sociais </span>
                                    </h3>
                                    <p style="text-indent:0px;line-height:0.07em;">
                                        <img style="margin:0px 15px 0px 0px;" src="/static/images/Facebook.png" />
                                        <span style="font-family:'Roboto Slab','Arial';font-weight:700;color:rgba(13,13,13,1);">Facebook</span>
                                    </p>
                                    <p style="text-indent:0px;line-height:0.07em;">
                                        <img style="margin:0px 15px 0px 0px;" src="/static/images/Twitter.png" />
                                        <span style="font-family:'Roboto Slab','Arial';font-weight:700;color:rgba(13,13,13,1);">Twitter</span>
                                    </p><p style="text-indent:0px;line-height:0.07em;">
                                    <img style="margin:0px 15px 0px 0px;" src="/static/images/LinkedIn.png" />
                                    <span style="font-family:'Roboto Slab','Arial';font-weight:700;color:rgba(13,13,13,1);">LinkedIn</span>
                                </p>
                                </div>
                                <div class="margin_collapsetop"></div>
                            </div>
                        </div>
                        <div class=" visible-lg-block d-xl-block d-lg-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear: both;"></div>
                        <div class=" visible-lg-block d-xl-block d-lg-block visible-md-block d-md-block visible-sm-block d-sm-block visible-xs-block d-block" style="clear:both;"></div>
                    </div>
                </div>
                <div class="ttr_footer_bottom_footer">
                    <div class="ttr_footer_bottom_footer_inner">
                        <div class="ttr_footer_element_alignment container"></div>
                        <div id="ttr_footer_designed_by_links">
                            <span id="ttr_footer_designed_by">
                                Moove - A vida é muito curta pra você ficar parado, se mova com a moove
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="margin_collapsebottom"></div>
    </div><!--page-->
</body>
</html>
